In [44]:
import pandas as pd

# Specify the path to your CSV file
file_path = r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\cleaned_currency.csv'

# Load the CSV file
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
print(df.head())

# Check the data types of each column
print(df.dtypes)

         Date   Price    Open    High     Low Change %
0  31/12/2024  1.2511  1.2548  1.2571  1.2504   -0.32%
1  30/12/2024  1.2551  1.2571  1.2608  1.2505   -0.22%
2  27/12/2024  1.2579  1.2523  1.2594  1.2503    0.43%
3  26/12/2024  1.2525  1.2552  1.2553  1.2500   -0.22%
4  25/12/2024  1.2553  1.2543  1.2560  1.2526    0.09%
Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [45]:
# Convert the 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

In [46]:
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Change %            object
dtype: object

In [47]:
# Remove any '%' symbol and convert 'Change %' column to float
df['Change %'] = df['Change %'].replace('%', '', regex=True).astype(float) / 100

In [48]:
# Remove rows with null values (if any)
df = df.dropna()

In [49]:
# Display the cleaned dataframe and its dtypes
print(df.head())
print(df.dtypes)

        Date   Price    Open    High     Low  Change %
0 2024-12-31  1.2511  1.2548  1.2571  1.2504   -0.0032
1 2024-12-30  1.2551  1.2571  1.2608  1.2505   -0.0022
2 2024-12-27  1.2579  1.2523  1.2594  1.2503    0.0043
3 2024-12-26  1.2525  1.2552  1.2553  1.2500   -0.0022
4 2024-12-25  1.2553  1.2543  1.2560  1.2526    0.0009
Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Change %           float64
dtype: object

In [50]:
# Save the cleaned data to a new CSV file
df.to_csv(r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\cleaned_currency_cleaned.csv', index=False)

---

In [26]:
# Load the second CSV file (filtered_oil_prices.csv)
file_path_oil = r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\filtered_oil_prices.csv'
df_oil = pd.read_csv(file_path_oil)

# Display the first few rows to verify the structure
print(df_oil.head())

# Check the data types of each column
print(df_oil.dtypes)

   Year-Month  Price
0  2019-01-01  59.41
1  2019-02-01  63.96
2  2019-03-01  66.14
3  2019-04-01  71.23
4  2019-05-01  71.32
Year-Month     object
Price         float64
dtype: object

In [27]:
# Rename the 'Year-Month' column to 'Date'
df_oil.rename(columns={'Year-Month': 'Date'}, inplace=True)

# Convert the 'Date' column to datetime format
df_oil['Date'] = pd.to_datetime(df_oil['Date'], format='%Y-%m-%d')

# Display the cleaned dataframe
print(df_oil.head())
print(df_oil.dtypes)

        Date  Price
0 2019-01-01  59.41
1 2019-02-01  63.96
2 2019-03-01  66.14
3 2019-04-01  71.23
4 2019-05-01  71.32
Date     datetime64[ns]
Price           float64
dtype: object

In [28]:
# Remove rows with null values (if any)
df_oil = df_oil.dropna()

In [29]:
# Display the cleaned dataframe and its dtypes
print(df_oil.head())
print(df_oil.dtypes)

        Date  Price
0 2019-01-01  59.41
1 2019-02-01  63.96
2 2019-03-01  66.14
3 2019-04-01  71.23
4 2019-05-01  71.32
Date     datetime64[ns]
Price           float64
dtype: object

In [30]:
# Save the cleaned data to a new CSV file
df_oil.to_csv(r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\filtered_oil_prices_cleaned.csv', index=False)

In [31]:
df_oil.head()

        Date  Price
0 2019-01-01  59.41
1 2019-02-01  63.96
2 2019-03-01  66.14
3 2019-04-01  71.23
4 2019-05-01  71.32

---

In [32]:
# Load the third CSV file (fuel_prices_cleaned.csv)
file_path_fuel = r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\fuel_prices_cleaned.csv'
df_fuel = pd.read_csv(file_path_fuel)

# Display the first few rows to verify the structure
print(df_fuel.head())

# Check the data types of each column
print(df_fuel.dtypes)

         Date  \
0  2019-01-07
1  2019-01-14
2  2019-01-21
3  2019-01-28
4  2019-02-04

   ULSP (Ultra low sulphur unleaded petrol) Pump price in pence/litre  \
0                                             1.2027
1                                             1.1953
2                                             1.1912
3                                             1.1929
4                                             1.1913

   ULSD (Ultra low sulphur diesel) Pump price in pence/litre  \
0                                             1.3033
1                                             1.2947
2                                             1.2892
3                                             1.2910
4                                             1.2913

   ULSP (Ultra low sulphur unleaded petrol) Duty rate in pence/litre  \
0                                             0.5795
1                                             0.5795
2                                             0.5795
3                                             0.5795
4                                             0.5795

   ULSD (Ultra low sulphur diesel) Duty rate in pence/litre
0                                             0.5795
1                                             0.5795
2                                             0.5795
3                                             0.5795
4                                             0.5795
Date                                                                   object
ULSP (Ultra low sulphur unleaded petrol) Pump price in pence/litre    float64
ULSD (Ultra low sulphur diesel) Pump price in pence/litre             float64
ULSP (Ultra low sulphur unleaded petrol) Duty rate in pence/litre     float64
ULSD (Ultra low sulphur diesel) Duty rate in pence/litre              float64
dtype: object

In [33]:
# Rename the columns to shorter names
df_fuel.rename(columns={
    'Date': 'Date',
    'ULSP (Ultra low sulphur unleaded petrol) Pump price in pence/litre': 'ULSP_Price',
    'ULSD (Ultra low sulphur diesel) Pump price in pence/litre': 'ULSD_Price',
    'ULSP (Ultra low sulphur unleaded petrol) Duty rate in pence/litre': 'ULSP_Duty',
    'ULSD (Ultra low sulphur diesel) Duty rate in pence/litre': 'ULSD_Duty'
}, inplace=True)

# Display the first few rows to verify
print(df_fuel.head())

         Date  ULSP_Price  ULSD_Price  ULSP_Duty  ULSD_Duty
0  2019-01-07      1.2027      1.3033     0.5795     0.5795
1  2019-01-14      1.1953      1.2947     0.5795     0.5795
2  2019-01-21      1.1912      1.2892     0.5795     0.5795
3  2019-01-28      1.1929      1.2910     0.5795     0.5795
4  2019-02-04      1.1913      1.2913     0.5795     0.5795

In [34]:
# Convert the 'Date' column to datetime format
df_fuel['Date'] = pd.to_datetime(df_fuel['Date'], format='%Y-%m-%d')

In [35]:
# Remove rows with null values (if any)
df_fuel = df_fuel.dropna()

In [36]:
# Display the cleaned dataframe
print(df_fuel.head())
print(df_fuel.dtypes)

        Date  ULSP_Price  ULSD_Price  ULSP_Duty  ULSD_Duty
0 2019-01-07      1.2027      1.3033     0.5795     0.5795
1 2019-01-14      1.1953      1.2947     0.5795     0.5795
2 2019-01-21      1.1912      1.2892     0.5795     0.5795
3 2019-01-28      1.1929      1.2910     0.5795     0.5795
4 2019-02-04      1.1913      1.2913     0.5795     0.5795
Date          datetime64[ns]
ULSP_Price           float64
ULSD_Price           float64
ULSP_Duty            float64
ULSD_Duty            float64
dtype: object

In [37]:
# Save the cleaned data to a new CSV file
df_fuel.to_csv(r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\fuel_prices_cleaned_cleaned.csv', index=False)

In [38]:
df_fuel.head()

        Date  ULSP_Price  ULSD_Price  ULSP_Duty  ULSD_Duty
0 2019-01-07      1.2027      1.3033     0.5795     0.5795
1 2019-01-14      1.1953      1.2947     0.5795     0.5795
2 2019-01-21      1.1912      1.2892     0.5795     0.5795
3 2019-01-28      1.1929      1.2910     0.5795     0.5795
4 2019-02-04      1.1913      1.2913     0.5795     0.5795

---

In [39]:
# Load the last CSV file (inflation_cleaned.csv)
file_path_inflation = r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\inflation_cleaned.csv'
df_inflation = pd.read_csv(file_path_inflation)

# Display the first few rows to verify the structure
print(df_inflation.head())

# Check the data types of each column
print(df_inflation.dtypes)

         Date  Inflation
0  2019-01-01        1.8
1  2019-02-01        1.8
2  2019-03-01        1.8
3  2019-04-01        2.0
4  2019-05-01        1.9
Date          object
Inflation    float64
dtype: object

In [40]:
# Convert the 'Date' column to datetime format
df_inflation['Date'] = pd.to_datetime(df_inflation['Date'], format='%Y-%m-%d')

In [41]:
# Remove rows with null values (if any)
df_inflation = df_inflation.dropna()

In [42]:
print(df_inflation.head())
print(df_inflation.dtypes)

        Date  Inflation
0 2019-01-01        1.8
1 2019-02-01        1.8
2 2019-03-01        1.8
3 2019-04-01        2.0
4 2019-05-01        1.9
Date         datetime64[ns]
Inflation           float64
dtype: object

In [43]:
# Save the cleaned data to a new CSV file
df_inflation.to_csv(r'C:\Users\Zana\Desktop\fuel-analytics\5.S3\S3\inflation_cleaned_cleaned.csv', index=False)